.App {
  text-align: center;
  width: 100%;
  height: 100%;
}
.App p, .App div, .App a {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #333745;
}

.header-bar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e8e8e8;
  padding: 0 10px;
}
.header-bar .logo {
  font-family: "Quicksand", sans-serif;
  color: #256EFF;
  font-size: 110%;
}

.header-search-profile-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 20%;
}
.header-search-profile-container .header-search {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-search-profile-container .header-search p {
  padding-right: 8px;
}
.header-search-profile-container .profile-image img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
}

.header-link-buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 20%;
}

.link-button a {
  color: #333745;
  text-decoration: none;
}
.link-button a:hover {
  cursor: pointer;
  color: #61e786;
}
.link-button a:active {
  color: #256EFF;
}

.home {
  overflow: auto;
}

.section-header {
  margin: 0;
}
.section-header h3 {
  margin: 0;
  text-transform: uppercase;
  font-size: 12px;
  padding-top: 10px;
  color: #656969;
}

.category-bar-container {
  height: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
  margin-top: 5px;
  padding-bottom: 5px;
}
.category-bar-container .link-button-container {
  height: 50px;
  width: 100%;
  margin: 0 10vw;
  overflow-y: hidden;
  overflow-x: scroll;
  white-space: nowrap;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}
.category-bar-container .link-button-container::-webkit-scrollbar {
  width: 0 !important;
}
.category-bar-container .link-button-container a {
  font-size: 16px;
  color: #656969;
  text-decoration: none;
  position: relative;
}
.category-bar-container .link-button-container a:hover {
  cursor: pointer;
  color: #61e786;
}
.category-bar-container .link-button-container a:after {
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  position: absolute;
  background: #61e786;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.category-bar-container .link-button-container a:hover:after {
  width: 100%;
  left: 0;
}

.heart-icon {
  color: gray;
}
.heart-icon:hover {
  color: black;
  cursor: pointer;
}

.featured-recommended-container {
  display: flex;
  padding: 20px 60px;
}
.featured-recommended-container .featured-project-container {
  flex: 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 450px;
  padding-right: 2rem;
}
.featured-recommended-container .featured-project-container img {
  max-width: 450px;
  border-bottom: solid 12px #0f7262;
}
.featured-recommended-container .featured-project-container .project-preview-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}
.featured-recommended-container .recommended-container {
  flex: 0, 0, auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 2rem;
  border-left: 1px solid #e8e8e8;
}
.featured-recommended-container .recommended-container .project-preview-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 30% 1fr 10%;
  grid-column-gap: 20px;
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
  padding: 1.2rem 0rem;
}
.featured-recommended-container .recommended-container .preview-image {
  grid-row: 1/4;
  grid-column: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.featured-recommended-container .recommended-container .project-preview-content {
  grid-row: 1/4;
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.featured-recommended-container .recommended-container .project-preview-content h1, .featured-recommended-container .recommended-container .project-preview-content h3, .featured-recommended-container .recommended-container .project-preview-content p {
  font-size: 12px;
  text-align: left;
  margin: 0;
  margin-bottom: 10px;
}
.featured-recommended-container .recommended-container .heart-icon-container {
  grid-row: 2;
  grid-column: 3;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.numbered-selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  margin-top: 5rem;
  margin-left: auto;
}
.numbered-selector div, .numbered-selector .arrow {
  font-size: 16px;
  color: #3D69E2;
}
.numbered-selector div:hover, .numbered-selector .arrow:hover {
  cursor: pointer;
}

/*# sourceMappingURL=App.css.map */
