//Variables
$blue: #256EFF
$green: #61e786
$black: #333745
$gray-border: #e8e8e8
$gray: #656969

//Global Styles  
.App
  text-align: center
  p, div, a
    font-family: 'Roboto', sans-serif
    font-size: 14px
    color: $black

//Header Bar
.header-bar
  display: flex
  justify-content: space-between
  border-bottom: 1px solid $gray-border
  padding: 0 10px
  .logo
    font-family: 'Quicksand', sans-serif
    color: $blue
    font-size: 110%

.header-search-profile-container
  display: flex
  align-items: center
  justify-content: space-evenly
  width: 20%
  .header-search
    display: flex
    align-items: center
    justify-content: space-between
    p
      padding-right: 8px
  .profile-image
    img
      border-radius: 50%
      width: 35px
      height: 35px

.header-link-buttons
  display: flex
  align-items: center
  justify-content: space-evenly
  width: 20%

//Link Buttons
.link-button a
    color: $black
    text-decoration: none
    &:hover
      cursor: pointer
      color: $green
    &:active
      color: $blue

//Category Bar
.category-bar
  padding: 10px 12vw 0px 12vw
  border-bottom: 1px solid $gray-border
  .link-button-container 
    height: 50px
    overflow-y: hidden
    overflow-x: scroll
    white-space: nowrap
    display: flex
    align-items: center
    justify-content: space-around
    &::-webkit-scrollbar
      width: 0 !important
    a
      font-size: 16px
      color: $gray
      text-decoration: none
      position: relative
      &:hover
        cursor: pointer
        color: $green
      &:after
        bottom: 0
        content: ''
        height: 2px
        left: 50%
        position: absolute
        background: $green
        transition: width 0.3s ease 0s, left 0.3s ease 0s
        width: 0
      &:hover:after
        width: 100%
        left:0

    